body{
    background: white url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat:
}

.navbar{
    border-radius: 0; 
    width: 380px;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav {

}


#myCarousel{
    width: 380px;
    height: 380px;
    margin: 0 auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 5% auto;
}
.navbar-nav{
    margin: 0px;
}

.content{
	display: flex;
    flex-wrap: wrap; 
    justify-content: center; 

}

.items {
	align-items: left;
}

